[submodule "themes/bilberry-hugo-theme"]
	path = themes/bilberry-hugo-theme
	url = https://github.com/Lednerb/bilberry-hugo-theme.git
[submodule "public"]
	path = public
	url = https://github.com/neves4/neves4.github.io.git
